.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 7%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header-container {
        padding: 0 5%;
    }
}

@media (min-width: 1200px) {
    .header-container {
        padding: 0 100pt;
    }
}

.navbar-brand, .info {
    flex-basis: 10%; 
    flex-shrink: 0; 
    text-decoration: none;
}

.link-group {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    padding: 8px 0px;
    max-width: max-content;
    border: 2px rgb(34, 34, 34) solid;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.nav-link {
    color: white;
    margin: 0 8px;
    transition: color 0.3s;
    text-decoration: none;
    font-weight: lighter; 
    padding: 10px 20px;
}

.nav-link.active {
    border-radius: 8px;
    background-color: rgb(34, 34, 34);
}

.info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signup {
    background-color:  rgb(34, 34, 34);
    border: 2px rgb(34, 34, 34) solid;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.search {
    color: white;
    padding-right: 20px;
}

.menu-icon {
    cursor: pointer;
    display: none; 
}

.link-group.open {
    display: flex; 
}

@media (max-width: 768px) {
    .link-group {
        display: none;
        align-items: center;
    }
    
    .link-group.open {
        display: flex;
        flex-direction: column;
    }

    .menu-icon {
        display: block; 
        color: white;
    }

    .signup{
        display: none;
    }
}

